  <!-- <nav class="navbar navbar-default" style="border-radius:0px;">
    <a class="navbar-brand" href="/index"><img src='/images/logo.png' style="max-width: 130px"></a>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
            <li class="dropdown"></li>
          </ul>
        </div>
    </div>
  </nav> -->
