<a href="/login/" class="btn btn-default btn-sm">Logout</a>
<% users.forEach(function(user) { %>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"  data-id="<%= user._id %>">
        <img style="max-width:200px max-height:200px" src="<%= user.avatarUrl %>" alt="...">
        <div class="caption">
          <h3><%= user.local.firstName || user.facebook.name %></h3>
          <h4 id="liked"></h4>
          <p>
            <a href="#" class="btn btn-primary like-btn" role="button">Like</a>
            <a href="#" class="btn btn-default" role="button">Whatever</a>
          </p>
        </div>
      </div>
    </div>
  </div>
<% }) %>

<script>
  var liked = $("#liked")

  $('.like-btn').click(function() {
    var btn = $(this)
    var userId = $(this).parent().parent().parent().attr('data-id')
    console.log("Trying to like", userId)
    $.post({
      url: '/users/like/' + userId,
      success: function(data) {
        console.log(data)

        // show something on when there's a match
        if(data.match == true) {
          console.log("They like each other!")
          btn.parent().parent().append("<p>They Like Each Other</p>")
        } else {
          console.log("No match yet...")
        }
      }
    })
  })
</script>
